:root {
	--white: hsl(0, 0%, 100%);
	--black: hsl(0, 0%, 0%);
	--dark-pink:hsl(337, 48%, 49%); // #BA4270   Shelude Button- normal state & disabled
	--water-white:hsl(220, 60%, 99%);   // #FBFCFE   Shelude Button, About Us Button hover state
	--pink-hover:hsl(337, 60%, 64%); // #DA6D97   Shelude Button
	--about-us-btn: hsl(207, 27%, 15%); // #1B262F 
	--san-juan-blue:hsl(207, 33%, 32%);  //#36536B  About Us Button border disabled
	--alert:hsl(0, 100%, 50%);     // #FF0000
	--color-text:hsl(207, 16%, 50%); // #6C8294
	--bckground:hsl(207, 44%, 95%);// #EDF3F8


}
