@use '../util' as *;

.container {
	margin: 0 auto;
}

.flex {
	display: flex;
	align-items: center;
}
	
.grid {
	display: grid;
}


.vissible {
	right: -4rem;
	transform: translateX(-92%);

	
}

.nav-btn {
	width: 25rem!important;
}





