@use '../util' as *;

h1,
h2,
h3,
h4,
h5,
h6 {
	
	font-family: var(--headings);
	color: var(--san-juan-blue);
}

a,
a:visited,
a:active {
	text-decoration: none;
}

//---- headings ----\\

.h-1 {
font-size: 3.6rem;
line-height: 3.6rem;
 @include breakpoints-up(medium){
	 
 }
}

.h-2 {
	font-size: 3.2rem;
    line-height: 3.6rem;
}

.h-3 {
	font-size: 2.4rem;
    line-height: 3.2rem;
}

.h-4 {
	font-size: 4.8rem;
    line-height: 5.6rem;
}