@use '../util' as *;

h1,
h2,
h3,
h4
 {
	font-family: var(--headings);
	color: var(--san-juan-blue);
}

a,
a:visited,
a:active {
	text-decoration: none;
}

//---- paragrapfs ----\\

p {
	font-size: 1.5rem;
	line-height: 2.8rem;
}

//---- headings ----\\

.h1-lg {
font-size: 3.6rem;
line-height: 3.6rem;
letter-spacing: -0.025rem;
	@include breakpoint-up(tablet){
		font-size: 4.8rem;
		line-height: 5.6rem;
		letter-spacing: -0.037rem;
	}
	@include breakpoint-up(desktop){
		font-size: 7.2rem;
		line-height: 7.2rem;
		letter-spacing: -0.055rem;
	}
}

.h1-sm {
	font-size: 3.2rem;
	line-height: 3.6rem;
	letter-spacing: -0.025rem;
		@include breakpoint-up(tablet){
			font-size: 4.8rem;
			line-height: 5.6rem;
			letter-spacing: -0.037rem;
		}
		@include breakpoint-up(desktop){
			font-size: 5.6rem;
			line-height: 5.6rem;
			letter-spacing: -0.043rem;
		}
	}

.h2 {
	font-size: 3.6rem;
    line-height: 3.6rem;
	letter-spacing: -0.028rem;
	@include breakpoint-up(tablet){
		font-size: 4.8rem;
		line-height: 5.6rem;
		letter-spacing: -0.037rem;
	}
}

.h2-sm {
	font-size: 3.2rem;
    line-height: 3.6rem;
	letter-spacing: -0.025rem;
	@include breakpoint-up(tablet){
		font-size: 4.8rem;
		line-height: 5.6rem;
		letter-spacing: -0.037rem;
	}
}

.h3 {
	font-size: 2.4rem;
	line-height: 3.2rem;
	letter-spacing: -0.018rem;
	@include breakpoint-up(tablet){
		line-height: 4rem;
	}
	@include breakpoint-up(desktop){
		letter-spacing: -0.025rem;
	}
}

.h3-sm {
	font-size: 1.8rem;
	line-height: 2.5rem;
	letter-spacing: -0.014rem;
	font-weight: bold;
	@include breakpoint-up(tablet){
		line-height: 4rem;
	}
	@include breakpoint-up(desktop){
		letter-spacing: -0.025rem;
	}
}

.h4 {
	font-size: 2.4rem;
    line-height: 3.2rem;
	letter-spacing: -0.018rem;
}
		
	

