@use '../../util' as *;

.companies {
    position: relative; 
    background-color: var(--about-us-btn);
    color: var(--water-white);
    overflow: hidden;
   
    &__heading {
        color: var(--water-white);
        margin-bottom:1.6rem;
        @include breakpoint-up(tablet){
            margin-bottom: 2.4rem;
        }
    }


    &__wrap {
        width: 100%;
        max-width: 1111rem;
        grid-template-columns: 1fr;
        justify-content: center;
        gap: 5.6rem;
        padding-block: 8rem;
        padding-inline: 2.4rem;
            @include breakpoint-up(tablet){
                padding-block: 8.8rem;
                padding-inline: 11.6rem;
                gap: 6.4rem;
            }
            @include breakpoint-up(desktop){
                grid-template-columns: minmax(1fr,44.5rem) minmax(1fr,53.6rem);
                
                row-gap: 0;
                padding-inline: 16.3rem;
                .partners {
                    grid-column: 2 / 3;
                    grid-row: 1 / 2;
                   align-self: center;
                    
                }
                .companies__text {
                    grid-column: 1 / 2;
                    text-align: left;
                }
            }
    }

    .partners {
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        place-items: center;
        row-gap:4.4rem;
        column-gap:4.98rem;
            @include breakpoint-up(tablet){
                grid-template-columns: repeat(3,1fr);
                
                row-gap:4.6rem;
                column-gap:6.2rem;
            }

        .change-my-color {
            filter: invert(95%) sepia(95%) saturate(0%) hue-rotate(121deg) brightness(105%) contrast(104%);
        }
    
    }
    .companies__text {
        max-width: 44.5rem;
        place-self:center;



        .black-btn {
            margin-top: 3.2rem;
        }      
    }

    &::before {
            content: url(../assets/shared/desktop/bg-pattern-circle.svg);
            position: absolute;
            top: -7%;
            left: -51vw;
        @include breakpoint-up(tablet){
            top: 0;
            left: -2vw;
        }

        transform: translateY(-69.5%);
        @include breakpoint-up(desktop){
            left: -13vw;
            top: 36%;
        }
    
    }
}