@use '../../util' as *;

.companies {
    
    padding-block: 10rem;
    position: relative; 
    background-color: var(--about-us-btn);
    color: var(--water-white);
    overflow: hidden;
    @include breakpoint-up(tablet){
        padding-inline: 4rem;
        // padding-right: 16.5rem;
    }
    @include breakpoint-up(desktop){
        padding-left: 16.5rem;
        padding-right: 16.3rem;
    }
  
    &__heading {
        color: var(--water-white);
        margin-bottom:1.6rem;
        @include breakpoint-up(tablet){
            margin-bottom: 2.4rem;
        }
    }

    &__wrap {
        //  max-width: 144rem;
        grid-template-columns: 1fr;    
        gap: 5.6rem;

            @include breakpoint-up(tablet){
        
                gap: 6.4rem;
            }
            @include breakpoint-up(mid){
                // grid-template-columns: minmax(1fr,44.5rem) minmax(1fr,53.6rem);
                grid-template-columns: 1fr 1fr;               
                row-gap: 0;
        
                .partners {
                    grid-column: 2 / 3;
                    grid-row: 1 / 2;
                    align-self: center;    
                }
                .companies__text {
                    grid-column: 1 / 2;
                    text-align: left;
                }

            }
            @include breakpoint-up(desktop){
                column-gap: unset;
            }

            &::before {
                content: url(../assets/shared/desktop/bg-pattern-circle.svg);
                position: absolute;
                top: -59%;
                left: -51vw;
                opacity:0.7;
                animation: scaleIn 5s infinite cubic-bezier(.36, .11, .89, .32);       
                    @include breakpoint-up(tablet){
                        left: -2vw;
                    }  
                    transform: translateY(-69.5%);
                    @include breakpoint-up(tabletxl){
                        left: -38vw;
                        top: -72%;
                    }
                    @include breakpoint-up(desktop){
                        left: -3vw;
                        top: -89%;
                    }
                
                    @keyframes scaleIn {
                        from {
                            transform: scale(.5, .5);
                            opacity: 1;
                        
                        }
                        to {
                            transform: scale(2.5 , 2.5);
                            opacity: 4.5;
                            
                        }
                    }
        }
    }

    .partners {
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        place-items: center;
        row-gap:4.4rem;
        column-gap:4.98rem;
            @include breakpoint-up(tablet){
                grid-template-columns: repeat(3,1fr);             
                row-gap:4.6rem;
                column-gap:6.2rem;
            }

        .change-my-color {
             filter: invert(95%) sepia(95%) saturate(0%) hue-rotate(121deg) brightness(105%) contrast(104%);  
                &:hover{    
                    filter: invert(17%) sepia(48%) saturate(4474%) hue-rotate(315deg) brightness(82%) contrast(102%);
                }    
        }
    
     }
    .companies__text {
        max-width: 44.5rem;
        place-self:center;
        @include breakpoint-up(mid){
            place-self: unset;
        }
        .black-btn {
            margin-top: 3.2rem;
            z-index: 99;
            position: relative;
            &:hover {
                background-color: var(--water-white);
                color: var(--about-us-btn);
             }
        }      
    }

}