@use '../../util'as *;

.cta {
         max-width: 144rem;
        justify-content: center;
        align-items: center;
        padding-inline: 2.4rem;   
        grid-template-columns: minmax(15rem,44.5rem);
        gap: 2.4rem;     
           @include breakpoint-up(tablet){
               text-align: left;           
           }
           @include breakpoint-up(desktop){
               grid-template-columns: 1fr 2fr;
               gap: 4rem;
               padding-inline: 16.5rem;
           }
       
   
       .dwnmob {  
           width: 100%;
           max-width: 37rem;
           // @include breakpoint-down(mobile){
           //     width: unset;
           //     font-size: 1.1rem;
           // }
           // @include breakpoint-up(tablet){
           //        position: absolute;
           //     width: unset;
           // }
       }
   
           .mailfld {
               width: 100%;
               max-width: 37rem;
               margin-bottom: 1.6rem;
               box-shadow: 0.1rem 0.3rem 1rem 0.1rem rgb(55 84 109 / 25%);
               @include breakpoint-down(mobile){
                 
               padding-right: 0;
               // width: unset;
               font-size: 1.1rem;
              
               }
               @include breakpoint-up(tablet){
                  position: relative;
                   width: unset;
               }
               @include breakpoint-up(desktop){
                margin-block: unset;
               }
           }
           
           h3 {
            //    max-width: 54.6rem;
               justify-self: center;
            //    text-align: center;
               @include breakpoint-up(desktop){
                text-align: left;
                justify-self: left;
               }
               
   
           }
           .contact {
               color: var(--color-text);
               font-weight: bold;
      
           }
   
           .submitemail {
               position: relative;
           
               @include breakpoint-up(tablet){
                   display: flex;
             
   
                   .mailfld {
                    //    width: 69%; 
                    //    left: 4rem;
                    left: -2rem;
                    width: 86%;
                       @include breakpoint-up(desktop){
                           left: 35%;        
                        }

                   }
                   .dwnmob {
                       position: absolute;
                       flex: 0;
                       right: 4%;
                       width: 40.7%;
                       @include breakpoint-up(desktop) {
                            right: 0;
                            width: 25.5%;
                        }                      
                   }
               }
   
           }

       }
    
   







