.header {
    position: relative;
    max-width: 111rem;
    border: 1px solid rgb(34, 31, 31);


    &__hamburger{
        display: block;
        width: 2.8rem;
        background-color: var(--san-juan-blue);
        height: 0.3rem;
        margin-bottom: 0.4rem;
    }
    
}

