@use '../../util'as *;

.header {  
    // max-width: 119rem; 
    max-width: 190rem;   
    align-items: center;
    margin-top: 4rem;
    padding-inline: 2.4rem;
    @include breakpoint-up(tablet){
         padding-inline: 4rem;
       
    } 
    @include breakpoint-up(desktop){
        padding-inline: 16.5rem;
    }
    
    &::before {
        content: url("../assets/shared/desktop/bg-pattern-circle.svg");
        position:absolute;
        top: -7.9rem;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);       
        mix-blend-mode: normal;
        z-index: 1;
        @include breakpoint-up(tablet){
            top: -5.8rem;
        }
        @include breakpoint-up(tabletxl){
            left: 84%;
            top: 21.8rem;
        }
      } 

    &__logo {
        margin-right: 6.4rem; 
    }
    .w {
        max-width: 111rem;    
        }
   .nav_wrapper {
       gap: 6.4rem;
   }
    
    &__nav {
        justify-content: space-between;
        transition: transform 300ms cubic-bezier(.5, 0, .5, 1);
        @include breakpoint-up(tablet){
            display: block;
        }
        @include breakpoint-down(mobile){
            display: none;
        }
        .nav_link {
            font-size: 1.5rem;
            font-weight: bold;
            opacity: 70%;
            position: relative;
            z-index: 1111;
            &:hover{
                opacity:unset;
            }
        }                     
    }
    .nav__list {
        gap: 4rem;
    }

//Hamburger btn     
    &__toggle {
        height: 1.7rem;
        cursor: pointer;
        border: none;
        margin-left: auto;
        transform: translateX(-100%);
        z-index: 11111;     
        background-color: unset;        
        transition: transform 3ms cubic-bezier(.5, 0, .5, 1);
        @include breakpoint-up(tablet){
            display: none;
        }
        @include breakpoint-down(mobile){
            display: block;
        }
    }

    .hamburger, 
    .hamburger::before, 
    .hamburger::after {
        width: 2.8rem;
        height: 0.3rem;
        background: var(--san-juan-blue);
        transition: transform 350ms ease-in-out, opacity 200ms linear;            
    }

    .hamburger {
        display: block;
        position: relative;       
    }

    .hamburger::before,
    .hamburger::after {
        content: '';
        position: absolute;
        left: 0;      
    }

    .hamburger::before { bottom: 0.6rem;}
    .hamburger::after { top:0.6rem;}

    .a-link {
        margin-left: auto;
        z-index: 11;
        @include breakpoint-up(tablet){
            display: block;
        }
        @include breakpoint-down(mobile){
            display: none;
        }
    }
    }

    .nav-side {   
        position: fixed;
        top: 0rem;
        right: 0;
        height: 100vh;
        width: 96vw;
        background-color:var(--about-us-btn);
        transform: translateX(110%);
        display: flex;
        justify-content: center;
        transition: 0.4s; 
        z-index: 1111; 
        @include breakpoint-up(tablet){
            display: none;
        }
    }

    .nav__sider {
        position: absolute;
        top: -5rem;
        flex-direction: column;
        gap: 3.2rem;
        font-size: 2rem;
        color: var(--water-white);
        font-weight: bold;
        padding-top: 13.2rem;
        margin-right: 6rem;
        @include breakpoint-down(vsmall){
            top: 4rem;
        }
    
        &::before {
            content: "";
            height: 0.1rem;
            @include breakpoint-down(vsmall){
                display: none;
            }       
            width: 108%;
            @include breakpoint-up(sm){
                position: relative;
                width: 115%; 
                left: -0.5rem;
            }
            @include breakpoint-up(smx){
                width: 126%;
            }
            @include breakpoint-up(smlg){
                width: 141%;
            }
            @include breakpoint-up(smxxlg){
                width:157% ;
            }
            background-color:#979797;
            margin-bottom: 4.3rem;
            margin-top: 2.4rem;        
        }

        .nav_link {
            color: var(--water-white);
        }   
    }

    /* Navigation open styles */

    
    .nav-open .hamburger {
        transform: rotate(45deg);
        z-index: 1;
    }
    
    .nav-open .hamburger::before {    
        opacity: 0;
        z-index: 1;
    }
    
    .nav-open .hamburger::after {
        transform: rotate(90deg) translate(-0.6rem);
        
    }

    .nav-open .nav__list {
        transform: translateX(0);
        opacity: 1;
    }



