@use '../../util'as *;

.portfolio {
     max-width: 190.5rem;
    position: relative;
    gap: 6rem;
    align-items: center;
    padding-inline: 4rem;
    @include breakpoint-up(desktop){
        padding-inline: 16.5rem;
    }
    &__implement {
        grid-template-columns: 1fr;
        @include breakpoint-up(tabletxl){
            grid-template-columns: 1fr 1fr;
           
        }
        @include breakpoint-up(mid){
            grid-template-columns: 1fr 1fr;
        }
        @include breakpoint-up(desktop){
            grid-template-columns: 1fr 1fr;
        }
                
    .implement-img {
        transform: translateX(3%);
        @include breakpoint-up(smx){
            justify-self: center;
            transform: translateX(5%);
        }
        @include breakpoint-up(mid){
            transform: translateX(-10%);
            align-self: center;       
        }
        @include breakpoint-up(desktop){
            justify-self:unset;
        }
    }    

        .implement-text {
             max-width: 44.5rem;
            padding-inline: 2.3rem; 
            place-self: center;
            justify-self: center;
            @include breakpoint-up(tabletxl){
                text-align: left;
                // max-width: 44.5.3rem;
                padding-right: 2.3rem;
                padding-left: 0;
            }
            @include breakpoint-up(mid){
                grid-column: 2 / 3;
                justify-self: unset;
            }
        }
    }

    &__uiux {
        // max-width: 110.5rem;
        // position: relative;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
        @include breakpoint-up(desktop){
            &:after {
                content: url(../assets/shared/desktop/bg-pattern-circle.svg);
                position:absolute;
                // left:91.5rem;
                left: 75%;
                top: 32%;
            }
        }
        @include breakpoint-up(tabletxl){
            text-align: left;
            grid-template-columns: 1fr 1fr;
            .uiux-img {
                order: 2;
            }
        }
        @include breakpoint-up(desktop){
            gap: 1rem;          
        }
            
        .uiux-img{
            transform: translateX(4%);
            
        }
        .uiux-text {
            max-width: 57.3rem;
            padding-inline: 2.3rem;
            @include breakpoint-up(tabletxl){
                padding-left: 5.5rem;
                padding-right: 0;
            } 
            @include breakpoint-up(desktop){
                padding-left: 3.5rem;
                padding-right: 0;
            } 
            .text-uiux{
                max-width: 50ch;
            }
        }
    }

        .h2 {
            padding-bottom: 2.4rem;
        }
    
}