@use '../util' as *;


.btn {
    display: inline-block;
    font-size: 1.5rem;
    font-family: var(--font-text);
    font-weight: bold;
    border-radius: 3rem;
    border: 0;
    cursor: pointer;
    height:4.8rem;
    padding-top:1.6rem;
    padding-bottom: 1.4rem;

    &.schld {
        text-align: left;
    }

    &.abus {

    }

    &.sbmt {

    }
}