@use '../../util'as *;
// left: 111%;
// mix-blend-mode: normal;
// position: absolute;
// top: -27.9rem;
.header {
    &:before {
        left: 109vw;
        top: -23.9rem;
    @include breakpoint-up(tablet){
        top: -7.9rem;
    }
    @include breakpoint-up(desktop){
        top: -14.9rem;
        left: 80vw;
    }

    }
}