@use '../../util'as *;

// new style with no overriding existing class
%psc{
	left:109%;
	top: -23.9rem;
    z-index: 9999;
@include breakpoint-up(tablet){
	top: -7.9rem;
}
@include breakpoint-up(desktop){
	top: -14.9rem;
	left: 81%;
}

}
.header--serious {
    padding-bottom: 4.8rem;
    @include breakpoint-up(tablet){
        padding-bottom: 7.5rem;
    }
    @include breakpoint-up(desktop){
        padding-bottom: 8.2rem;
    }
    &:before{
    @extend%psc
    }
}


    
    